* {
  margin: 0;
  padding: 0;
}

.footer {
  width: 100vw;
  border-top: 0.1vh solid #7a7a7a80;
  display: flex;
  color: #7a7a7a;
  font-family: sans-serif;
  justify-content: space-between;
  font-size: 0.8vmax;
  align-items: center;

  &-content {
    display: flex;
    align-items: center;

    &-logo {
      height: 3.2vh;
      margin: 0.4vh 0.15vw;
    }

    &-text {
      margin-left: 0.5vw;
      width: 50vw;
    }
  }

  &-version {
    margin-right: 1vw;
  }
}
