* {
  margin: 0;
  padding: 0;
}
.homepage {
  min-height: 92.8vh;
  flex-direction: column;
}
.title_color {
  color: #02a9f7;
}
.card {
  border: 1px solid #c4c4c4 !important;
}
.login {
  text-align: end;
  text-decoration-line: underline;
  cursor: pointer;
}
.img_home {
  width: 200px !important;
  position: relative;
  top: -30px;
}
.card-color {
  border-radius: 15px 15px 0 0 !important;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex !important;
}
.btn_try {
  height: 50px;
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 500;
  position: relative;
  width: 85%;
  margin: auto;
  cursor: pointer;
}
.ul_style {
  list-style: none;
  text-align: left;
  padding: 20px 0px 0px 10px;
  font-weight: 600;
  font-size: 15px;
}
.card_h {
  height: 280px;
  width: 180px;
  border-radius: 15px !important;
  background-color: transparent !important;
  margin: auto;
}
// .card_h:hover{
//   -webkit-box-shadow: 0px 0px 2px 0px rgba(255,0,255,1);
// -moz-box-shadow: 0px 0px 2px 0px rgba(255,0,255,1);
// box-shadow: 0px 0px 2px 0px rgba(255,0,255,1);
// }
.row_card {
  position: relative;
  top: -50px;
  justify-content: center;
}
.mg-card {
  margin: 0 !important;
  padding: 16px 0 0 0 !important;
}
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}
